<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.emopicture.persistence.RefReplyMapper">

   
   <select id="list" resultType="com.emopicture.domain.ReplyVO">
      select * from tbl_refreply where bno = #{bno} order by rno desc
   </select>
   
	<insert id="create">
		insert into tbl_refreply (rno, bno, replytext, replyer) values (seq_refreply.nextval, #{bno}, #{replytext}, #{replyer})
	</insert>
   
   <update id="update">
      update tbl_refreply set replytext=#{replytext} where rno = #{rno}
   </update>
   
   <delete id="delete">
      delete from tbl_refreply where rno = #{rno}
   </delete>
   
   <select id="count" resultType="int">
      select count(*) from tbl_refreply where bno = #{bno}
   </select>
   
   <select id="listPage" resultType="com.emopicture.domain.ReplyVO">
   
         select * 
         from
         (
           select /*+index_desc(tbl_reply pk_board)*/
           rownum rn, rno, bno, replytext, replyer, regdate
           from tbl_refreply
           where bno = #{bno}
         )
         where rn between (#{cri.pageNo}-1)*#{cri.perPageNum} and #{cri.pageNo}*#{cri.perPageNum}
         order by rno desc
   
   </select>
   
   
   
</mapper>